html {
  font-size: 10pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 200%;
  text-transform: lowercase;
}

h1 {
  font-size: 130%;
}

h3 {
  font-size: 100%;
}

h4 {
  font-size: 80%;
}

p {
  line-height: 1.66em;
  margin: 0.5em 3em 1em 3em;
}

p#copyright {
  font-size: 80%;
  color: gray;
  margin-left: 3.75em;
}
