html {
  font-size: 10pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: rgb(95%, 95%, 80%);
  color: black;
}

h1 {
  font-size: 200%;
  text-transform: lowercase;
}

h1 {
  font-size: 130%;
}

h3 {
  font-size: 100%;
}

h4 {
  font-size: 80%;
}

p {
  line-height: 1.66em;
  margin: 0.5em 3em 1em 3em;
}

p#copyright {
  font-size: 80%;
  color: gray;
  margin-left: 3.75em;
  text-align: center;
}

#archives {
  width: 20%;
}

#archives a {
  border-left: 1px solid gray;
  display: block;
  padding: 0.1em 0.1em;
  margin: 0;
}

#archives a:hover {
  background: rgb(85%, 85%, 70%);
}

#archives h3 {
  color: gray;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 0;
}
